/*------------------------------------*\
=imports
\*------------------------------------*/

/*=sass files
######################################*/

/**
 * - BASE: generic styles (body, etc), normalize, typography
 * - LAYOUT: grid, general page layout, header, footer, content, etc.
 * - COMPONENTS: typography (titles, links, buttons, types of texts)
 * - UTILS: utilities and configuration
 */

@import "utils/functions";
@import "utils/helpers";
@import "utils/mixins";
@import "utils/variables";
@import "utils/cssobjects";

@import "vendors/normalize";
// @import "vendors/syntax-highlighting";

@import "base/generic";
@import "base/typography";

@import "layout/grid";
// @import "layout/main";
// @import "layout/header";
// @import "layout/footer";
// @import "layout/content";

@import "components/btn";
// @import "components/lists";
// @import "components/forms";
// @import "components/media";
// @import "components/modules";
// @import "components/icons";
// @import "components/animations";

.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0;
        padding: 15px 9.5px;
    }

    button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        padding: 0;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        font-size: 0;
    }

    .slick-active {
        button {
            background: #2F5BEA;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-color: #2F5BEA;
        }
    }
}
.block-experts {
    padding: 120px 0 35px;
    &_title {
        text-align: center;
        padding-bottom: 25px;
    }
}
.experts {
    @include row();

    &_item {
        @include make-col(6);
    }
    .slick-list {
        padding-bottom: 45px;
    }
}

.container {
    @include container ();
}

.grid {
    @include row ();
}

.field-group {
    display: flex;

    .field {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

        input {
            border-radius: 5px 0 0 5px;
            border: 0;
            border-right: 1px solid #E7EAEE;
        }
    }

    .btn {
        border-radius: 0 5px 5px 0;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        width: 195px;
    }
}

.field {
    position: relative;

    input {
        padding: 8px 26px;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        background: #fff;
        width: 100%;
        height: 75px;
        transition: width 0.3s;

        &:focus {
            transition: background-color 0.3s;
            background-color: #ededed;
            outline: none;
        }
    }
}

.intro {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 120px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // left: -11.17%;
        // right: -17.32%;
        // top: -1.72%;
        // bottom: 72.92%;
        background: url('../img/intro-bg.svg') no-repeat;
        // background: #2F5BEA;
        // border-radius: 536px;
        // transform: rotate(-15deg);
        background-size: 100% 100%;
        z-index: -1;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 32px 0;

    &_inner {
        @include container ();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.text-block-wrap {
    padding: 40px 0;
}

.text-block {
    @include row ();
    padding-top: 50px;

    &_item {
        @include make-col(12);
        @include col(md, 6);
        @include col(lg, 4);
        
        h3 {
            margin-bottom: 0;
        }
    }

    &_title {
        display: flex;
        align-items: center;
        padding-bottom: 4px;
    }

    &_icon {
        display: block;
        width: 35px;
        margin-right: 20px;
        flex-shrink: 0;
    }
}

.need {
    // padding: 120px 0;
    padding: 7.3% 0;

    &_inner {
        @media (min-width: $screen-lg) {
            display: flex;
        }
    }
    &_img {
        text-align: center;
        
        @media (min-width: $screen-lg) {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
        
        img {
            @media (min-width: $screen-md) {
                max-width: 686px;
            }
        }
    }
    &_text {
        padding-top: 40px;
        @media (min-width: $screen-lg) {
            width: 50%;
            padding-left: 70px;
            padding-top: 0;
        }
    }
}

.block-action {
    background-color: #2F5BEA;
    padding: 12.1% 0;

    &_inner {
        @include make-col(12);
        @include col(md, 10);
        @include col(lg, 8);
        @include col(xl, 6);

        margin: 0 auto;
        text-align: center;

        .h2,
        .subtitle {
            color: #fff;
        }
        .subtitle {
            margin-bottom: 8px;
        }
        a {
            color: #fff;
        }
    }

    .form {
        max-width: 535px;
        margin: 0 auto 33px;
    }
}

.faq {
    &_inner {
        @include row ();
    }

    &_col {
        @include make-col(12);
        @include col(md, 10);
        @include col(lg, 6);
        margin-bottom: 20px;
    }

    &_item {
        height: 100%;
        position: relative;
    }

    &_question {
        min-height: 75px;
        @include rem-size(18px);
        line-height: (22 / 18);
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #C9CDD5;
        
        color: #000;
        cursor: pointer;
    }

    &_answer {
        display: none;
        // height: calc(100% - 100px);
        overflow: hidden;
        background-color: #F5F5F5;
        padding: 20px;
        color: #54565A;
        box-shadow: 0 40px 30px -10px rgba(83, 83, 83, 0.24);
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 3;
        margin-top: -3px;
        border: 1px solid #C9CDD5;
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }
}

.card {
    align-items: flex-start;
    display: flex;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #E7EAEE;
    box-shadow: 0px 2px 4px rgba(44, 46, 48, 0.0747283);
    border-radius: 5px;
    padding: 25px 25px 30px;
}

.card_left, .card_right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.card_left {
    margin-right: 20px;
}
.card_img {
    background-color: #ccc;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    border-radius: 60px;
    overflow: hidden;
}
.card_right {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.card_content {
    color: #7E8085;
    @include rem-size(13px);
    line-height: (19 / 13);

    span {
        display: block;
        margin-bottom: 7px;
    }

    strong, b {
        color: #2C2E30;
        @include rem-size(16px);
        line-height: (19 / 16);
        font-weight: normal;
    }
}
.card_content:not(:last-child) {
    margin-bottom: .75rem;
    
}

.footer {
    padding: 26px 0;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li:not(:last-child) {
            margin-right: 30px;
        }

        a {
            color: #54565A;
            @include rem-size(14px);
            line-height: (17 / 14);
        }
    }
}
