/*------------------------------------*\
=imports
\*------------------------------------*/

/*=sass files
######################################*/

/**
 * - BASE: generic styles (body, etc), normalize, typography
 * - LAYOUT: grid, general page layout, header, footer, content, etc.
 * - COMPONENTS: typography (titles, links, buttons, types of texts)
 * - UTILS: utilities and configuration
 */

@import "utils/functions";
@import "utils/helpers";
@import "utils/mixins";
@import "utils/variables";
@import "utils/cssobjects";

@import "vendors/normalize";
// @import "vendors/syntax-highlighting";

@import "base/generic";
@import "base/typography";

@import "layout/grid";
// @import "layout/main";
// @import "layout/header";
// @import "layout/footer";
// @import "layout/content";

@import "components/btn";
// @import "components/lists";
// @import "components/forms";
// @import "components/media";
// @import "components/modules";
// @import "components/icons";
// @import "components/animations";

.form {
    .btn {
        text-transform: uppercase;
    }
}

.intro {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 120px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/intro-bg.svg') no-repeat;
        background-size: cover;
        background-position: left bottom;
        z-index: -1;
    }

    &:after {
        content: '';
        position: absolute;
        top: calc(50% + 65px);
        right: ((160 / 1920) * 100%);
        transform: translateY(-50%);
        background: url('../img/intro-img.svg') no-repeat;
        z-index: -1;

        width: ((780 / 1920) * 100%);
        height: 0;
        background-size: cover;
        background-position: center;
        padding-top: 35.9%;
        
        @media (max-width: $screen-lg - 1px) {
            visibility: hidden;
        }
    }

    .container {
        height: 100%;
    }

    &_inner {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &_cont {
        max-width: 630px;
        color: #fff;
        position: relative;

        @media (min-width: $screen-md) {
            @include make-col(8);
            margin-top: -16%;
        }

        &::before {
            content: '';
            position: absolute;
            left: -80px;
            top: -58px;
            width: 141px;
            height: 141px;
            background: url('../img/texture-dots-circle.svg') no-repeat;
            background-size: cover;
            @media (min-width: $screen-md) {
                top: -117px;
                width: 281px;
                height: 281px;
            }
        }

        h1 {
            font-size: 24px;
            font-weight: 900;
            line-height: (29 / 24);
            color: #fff;
            margin-bottom: 22px;
            @media (min-width: $screen-md) {
                font-size: 48px;
                font-weight: 900;
                line-height: (59 / 48);
            }
        }
    
        p {
            @include rem-size(16px);
            line-height: (27 / 16);
            margin-bottom: 12px;
            @media (min-width: $screen-md) {
                @include rem-size(18px);
                line-height: (34 / 18);
            }
            
        }
        &-file {
            a {
                font-size: 16px;
                line-height: (19 / 16);
                color: #fff;
            }
        }
        
        .form {
            max-width: 523px;
            margin-bottom: 23px;
        }
    }
}

.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0;
        padding: 15px 9.5px;
    }

    button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        padding: 0;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        font-size: 0;
    }

    .slick-active {
        button {
            background: #2F5BEA;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-color: #2F5BEA;
        }
    }
}
.block-experts {
    padding: calc((120 / 1920) * 100%) 0 35px;
    background-color: #F6F8F9;

    &_title {
        text-align: center;
        padding-bottom: 25px;
    }
}

.experts {
    @include row();

    &_item {
        @include make-col(6);
    }
    .slick-list {
        padding-bottom: 45px;
    }
}

.container {
    @include container ();
}

.grid {
    @include row ();
}

.field-group {
    display: flex;

    .field {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

        input {
            border-radius: 5px 0 0 5px;
            border: 0;
            border-right: 1px solid #E7EAEE;
        }
    }

    .btn {
        border-radius: 0 5px 5px 0;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        width: 110px;
        height: 55px;
        @media (max-width: $screen-md - 1px) {
            font-size: 14px;
        }
        @media (min-width: $screen-md) {
            width: 195px;
            height: 75px;
        }
    }
}

.field {
    position: relative;

    input {
        padding: 8px 26px;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        background: #fff;
        width: 100%;
        height: 55px;
        transition: width 0.3s;
        color: #242424;

        @media (max-width: $screen-md - 1px) {
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (min-width: $screen-md) {
            height: 75px;
        }

        &:focus {
            transition: background-color 0.3s;
            background-color: #ededed;
            outline: none;
        }
    }
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 32px 0;

    &_logo {
        
        @media (min-width: $screen-md) {
            margin-left: 13px;
        }
    }

    &_inner {
        @include container ();
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: 30px;
            top: -102px;
            width: 141px;
            height: 141px;
            background: url(../img/texture-dots-circle.svg) no-repeat;
            background-size: cover;
            @media (min-width: $screen-md) {
                top: -204px;
                width: 281px;
                height: 281px;
            }
        }
    }

    .btn {
        
    }
}

.action-row {
    margin-top: -15px;

    &_inner {
        
        @include rem-size(18px);
        line-height: (27 / 18);
        padding: 16px 20px 18px;
        background-color: #fff;
        box-shadow: 0px 5px 20px rgba(47, 91, 234, 0.069493);
        border-radius: 20px;
        position: relative;
        
        
        @media (min-width: $screen-lg) {
            display: flex;
            align-items: center;
            @include rem-size(24px);
            line-height: (33 / 24);
            padding: 36px 40px 18px;
        }

        p {
            max-width: 750px;
        }

        &::before {
            content: '';
            background: url('../img/texture-dots-rect.png') no-repeat;
            max-width: 963px;
            width: 100%;
            height: 140px;
            position: absolute;
            left: -94px;
            bottom: -40px;
            z-index: -1;
        }
    }

    .btn {
        
        flex-shrink: 0;
        @media (min-width: $screen-lg) {
            margin-left: 52px;
        }
    }
}

.text-block-wrap {
    // padding-bottom: 40px;
}

.text-block {
    @include row ();
    padding-top: 38px;
    padding-bottom: 30px;

    &_item {
        @include make-col(12);
        @include col(md, 6);
        @include col(lg, 4);
        padding-bottom: 56px;
        
        h3 {
            margin-bottom: 0;
        }
    }

    &_title {
        display: flex;
        align-items: center;
        padding-bottom: 4px;
    }

    &_icon {
        display: block;
        width: 35px;
        margin-right: 20px;
        flex-shrink: 0;
    }
}

.need {
    // padding: 120px 0;
    padding: ((160 / 1920) * 100%) 0 ((120 / 1920) * 100%);

    &_inner {
        @media (min-width: $screen-lg) {
            display: flex;
        }
    }
    &_img {
        text-align: center;
        
        @media (min-width: $screen-lg) {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
        
        img {
            @media (min-width: $screen-md) {
                max-width: 686px;
            }
        }
    }
    &_text {
        padding-top: 40px;
        @include rem-size(24px);
        line-height: (29 / 24);

        @media (min-width: $screen-lg) {
            width: 50%;
            padding-left: 40px;
            padding-top: 0;
        }

        span {
            color: #2F5BEA;
            text-transform: uppercase;
            @include rem-size(16px);
            line-height: (19 / 16);
            font-weight: 500;
        }

        h2 {
            margin-top: 20px;
            margin-bottom: 32px;
        }

        ul {
            counter-reset: list;
            list-style: none;
            padding: 3px 0 0;
            margin: 0;
        }
        li {
            padding: 15px 0;

            &::before {
                display: inline-block;
                counter-increment: list;
                content: counter(list);
                width: 40px;
                height: 40px;
                background-color: #2F5BEA;
                @include rem-size(24px);
                line-height: (29 / 24);
                font-weight: 500;
                border-radius: 40px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                margin-right: 20px;
            }
        }
    }
}

.block-action {
    background-color: #2F5BEA;
    padding: ((162 / 1920) * 100%) 0;
    overflow: hidden;
    position: relative;

    .path-1,
    .path-2,
    .rectangle {
        position: absolute;
        display: block;
    }
    .path-1 {
        left: calc(100% - 665px);
        bottom: 20px;
        width: 348px;
        height: 178px;
    }
    .path-2 {
        top: 39.23958%;
        left: ((250 / 1920) * 100%);
        width: 228px;
        height: 125px;
    }
    .rectangle {
        top: 29%;
        left: ((600 / 1920) * 100%);
        width: 228px;
        height: 125px;
    }

    &_inner {
        @include make-col(12);
        @include col(md, 10);
        @include col(lg, 8);
        @include col(xl, 6);

        margin: 0 auto;
        text-align: center;

        .h2,
        .subtitle {
            color: #fff;
        }
        .subtitle {
            margin-bottom: 8px;
        }
        a {
            color: #fff;
        }
    }

    .form {
        max-width: 535px;
        margin: 0 auto 33px;
    }
}

.faq {
    padding: calc((120 / 1920) * 100%) 0;

    &_title {
        text-align: center;
        margin-bottom: 35px;
    }

    &_inner {
        @include row ();
    }

    &_col {
        @include make-col(12);
        @include col(md, 10);
        @include col(lg, 6);
        margin-bottom: 20px;
    }

    &_item {
        height: 100%;
        position: relative;
    }

    &_question {
        min-height: 75px;
        @include rem-size(18px);
        line-height: (22 / 18);
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #C9CDD5;
        
        color: #000;
        cursor: pointer;
    }

    &_answer {
        display: none;
        // height: calc(100% - 100px);
        overflow: hidden;
        background-color: #F6F8F9;
        padding: 20px;
        color: #54565A;
        box-shadow: 0 40px 30px -10px rgba(83, 83, 83, 0.11);
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 3;
        margin-top: -3px;
        border: 1px solid #C9CDD5;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        @media only screen and (max-width: $screen-sm) {
            font-size: 14px;
        }
    }
}

.card {
    align-items: flex-start;
    display: flex;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #E7EAEE;
    box-shadow: 0px 2px 4px rgba(44, 46, 48, 0.0747283);
    border-radius: 5px;
    padding: 25px 25px 30px;

    @media only screen and (max-width: $screen-sm) {
        flex-direction: column;
    }
}

.card_left, .card_right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.card_left {
    margin-right: 20px;
}
.card_img {
    background-color: #ccc;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    border-radius: 60px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card_right {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.card_content {
    color: #7E8085;
    @include rem-size(13px);
    line-height: (19 / 13);

    span {
        display: block;
        margin-bottom: 7px;
    }

    strong, b {
        color: #2C2E30;
        @include rem-size(16px);
        line-height: (19 / 16);
        font-weight: normal;
    }
}
.card_content:not(:last-child) {
    margin-bottom: .75rem;
    
}

.footer {
    padding: 26px 0;
    background-color: #F6F8F9;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        @media only screen and (max-width: $screen-sm) {
            width: 100px;
        }
    }

    &_links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li:not(:last-child) {
            margin-right: 30px;
            @media only screen and (max-width: $screen-sm) {
                margin-right: 10px;
            }
        }

        a {
            color: #54565A;
            @include rem-size(14px);
            line-height: (17 / 14);
        }
    }
}
