/*------------------------------------*\
=btn basic styles
\*------------------------------------*/
$gray-darkest:                hsl(0, 0%, 10%);
$gray:                        hsl(0, 0%, 50%) !default;
$gray-light:                  hsl(0, 0%, 60%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

$color-main:                  hsl(208, 98%, 43%);

$text-color:                  $gray-darkest !default;
$text-color-muted:            $gray !default;

$line-height:                 1.5 !default;

$field-padding-vertical:      5px !default;
$field-padding-horizontal:    12px !default;

$border-radius:               3px !default;

$opacity:                     0.7;

@mixin field-focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: $border-radius;
    // border: 1px solid $gray-lighter;
    border: 0;
    padding: $field-padding-vertical  $field-padding-horizontal;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    text-align: center;
    font-size: 1em;
    line-height: (19 / 16);
    font-family: inherit;
    font-weight: 600;
    line-height: $line-height;
    text-decoration: none;
    text-transform: uppercase;
    color: #2F5BEA;
    background-color: $gray-lightest;
    background-image: none;
    cursor: pointer;
  
    &:hover,
    &:focus {
      text-decoration: none;
      color: #2F5BEA;
      background-color: darken($gray-lightest, 10%);
      // border-color: darken($gray-lighter, 12%);
    }
  
    // &:visited {
    //   color: $text-color;
    // }
  
    &:active,
    &:focus {
      @include field-focus;
    }
  
    &--disabled,
    &:disabled {
      opacity: $opacity;
      cursor: not-allowed;
      color: #2F5BEA;
      background-color: $gray-lightest;
      // border-color: $gray-lighter;
  
      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  
    // &__icon {
    //   display: inline-block;
    //   vertical-align: middle;
    // }
  
    &.is-white {
        background-color: #fff;
        border-color: transparent;
        color: #2F5BEA;

      &:hover,
      &:focus {
        background-color: #f9f9f9;
        border-color: transparent;
        color: #2F5BEA;
      }
    }
  

    // &--main {
    //   color: #fff;
    //   background-color: $color-main;
    //   // border: 1px solid $color-main;
  
    //   &:hover,
    //   &:focus {
    //     color: #fff;
    //     background-color: darken($color-main, 10%);
    //     // border-color: darken($color-main, 12%);
    //   }
  
    //   &--disabled,
    //   &:disabled {
    //     color: #fff;
    //     background-color: $color-main;
    //     // border-color: $color-main;
    //   }
    // }
  }